.btn-12 {
    border: 2px solid #000;
    z-index: 1;
}

.btn-12:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}

.btn-12:hover {
    color: #fff;
}

.btn-12:hover:after {
    top: 0;
    height: 100%;
}

.btn-12:active {
    top: 2px;
}


button {
    position: relative;
    /* background: #333; */
    /* background: var(--primary); */
    background: transparent;
    color: #ccc;
    width: 200px;
    height: 50px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.6s;
    overflow: hidden;
}

button:focus {
    outline: 0;
}

button:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

button:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

button:hover {
    background: #338033;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}